@model string

@{
    ViewData["Title"] = "Pametno Skaliranje";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!------ Include the above in your HEAD tag ---------->-

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<script type="text/javascript">
    $(document).ready(function () {
        WaitForModelFitting('@Model');
    });

    function WaitForModelFitting(id) {
        var targetUrl = '@Url.Action("WaitForModelFitting", "SmartScaling")?scalingId=' + id;

        $.ajax({
            type: "GET",
            url: targetUrl,
            contentType: "application/json",
            success: function (result) {
                generateSmartScalingChart(id);
            },
            error: function (e) {
                alert("Failed to retrieve data for report");
            }
        });
    }

    function generateSmartScalingChart(id) {
       var targetUrl = '@Url.Action("GetSmartScalingStats", "SmartScaling")?scalingId=' + id;

        $.ajax({
            type: "GET",
            url: targetUrl,
            contentType: "application/json",
            success: function (data) {
                info = JSON.parse(data);
                renderSmartScalingChart(info);
            },
            error: function (e) {
                alert("Failed to retrieve data for report");
            }
        });
    }

    function renderSmartScalingChart(data) {
        var cpuStats = []
        var memoryStats = []
        var networkStats = []

        for (var i = 0; i < data.length; i++) {
            res = data[i]
            cpuStats.push({ x: new Date(res.Date), y: res.CPU })
            memoryStats.push({ x: new Date(res.Date), y: res.Memory })
            networkStats.push({ x: new Date(res.Date), y: res.Network })
        }

        var chart = new CanvasJS.Chart("smart_scaling", {
            title: {
                text: "Predikcija Opterećenja Servera"
            },
            axisX: {
                valueFormatString: "DD/hh:mm"
            },
            axisY2: {
                title: "Procenat",
                suffix: "%"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                horizontalAlign: "center",
                dockInsidePlotArea: true
            },
            data: [{
                type: "line",
                axisYType: "secondary",
                name: "CPU",
                showInLegend: true,
                markerSize: 0,
                dataPoints: cpuStats
            },
            {
                type: "line",
                axisYType: "secondary",
                name: "Memorija",
                showInLegend: true,
                markerSize: 0,
                dataPoints: memoryStats
            },
            {
                type: "line",
                axisYType: "secondary",
                name: "Mreža",
                showInLegend: true,
                markerSize: 0,
                dataPoints: networkStats
            }]
        });
        chart.render();
    }
</script>

<div class="list-group" style="width:25%;margin-left:-25%;margin-top:4%;">
    <a asp-area="" asp-controller="Server" asp-action="Home" class="list-group-item"><i class="fa fa-database"></i> <span>&nbsp;&nbsp;&nbsp;Serveri</span></a>
    <a asp-area="" asp-controller="Report" asp-action="Home" class="list-group-item"><i class="fa fa-sticky-note-o"></i> <span>&nbsp;&nbsp;&nbsp;Izveštaji</span></a>
    <a asp-area="" asp-controller="Server" asp-action="Add" class="list-group-item"><i class="fa fa-server"></i> <span>&nbsp;&nbsp;&nbsp;Dodaj Server</span></a>
    <a asp-area="" asp-controller="Query" asp-action="Edit" class="list-group-item"><i class="fa fa-table"></i> <span>&nbsp;&nbsp;&nbsp;Editor Upita</span></a>
    <a asp-area="" asp-controller="SmartScaling" asp-action="Home" class="list-group-item"><i class="fa fa-lightbulb-o"></i><span>&nbsp;&nbsp;&nbsp; Pametno Skaliranje</span></a>
    <a asp-area="" asp-controller="Home" asp-action="Logout" class="list-group-item"><i class="fa fa-sign-out"></i> <span>&nbsp;&nbsp;&nbsp; Odjava</span></a>
</div>

<div class="callout callout-warning" style="position:absolute;width:1500px;top:110px;left:500px;">
    <h4>Pametno skaliranje</h4>
    Pametno skaliranje je funkcionalnost koja sakuplja statistiku na nivou servera i pomaže klijentu da predvidi opterećenje servera, uoči vremenske šablone u opterećenju,<br />
    kao i glavna uska grla bazirano na istoriji statistike servera, pomažući u donošenju odluke o vertikalnom ili horizontalnom skaliranju.

    <br /><br />

    Da konfigurisete pametno skaliranje, potrebno je samo da pokrenete <a href="C:\SQLProjects\sql_monitoring\SQLMonitoring\SQLMonitoring\SQLMonitoring\wwwroot\SmartScaling.ps1" download> ovu skriptu </a>  na mašini na kojoj je instaliran SQL server, koja će periodično skupljati statistiku i upisivati rezultate <br />
    na server gde se mogu koristiti za dalju analizu.

    <br /><br />

    Da nastavite, molimo Vas da izaberete server sa liste da bi videli predikcije opterećenja, ili preuzmite skriptu sa linka i podesite pametno skaliranje za neki <br />
    od željenih servera.
</div>


<div class="container" style="position: absolute; top: 430px; left: 500px; width: 1400px;">
    <div id="smart_scaling"></div>
</div>
