@model IEnumerable<SQLMonitoring.Model.User>

@{
    ViewData["Title"] = "Administrator";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>|
                @Html.ActionLink("Izbriši", "Delete", "User", new { id = item.Id }, new { onclick = "return confirm('Kliknite da ukoliko želite da potvrdite brisanje');" })
            </td>
        </tr>
}
    </tbody>
</table>
